.member-book-container {
    padding: 2vh 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    /* background: #faf7f8; */
    flex-flow: column;
    justify-content: start;
}
.page-title {
  font-size: 24px;
  font-weight: 600;
}

/* .table-row {
  color: black;
} */

.table {
  width: 600px;
  border-collapse: collapse;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

.table th,
.table td {
  padding: 12px 52px;
  border-bottom: 2px solid #e0e0e0;
  white-space: nowrap; /* không cho xuống hàng */
}

.table th {
  background: #1976d2 !important;
  color: #fff !important;
  text-align: center;
}

.table tr:last-child td {
  border-bottom: none;
}
